[submodule "www/card-mod"]
	path = www/card-mod
	url = https://github.com/thomasloven/lovelace-card-mod.git
[submodule "www/slider-entity-row"]
	path = www/slider-entity-row
	url = https://github.com/thomasloven/lovelace-slider-entity-row.git
[submodule "www/vertical-stack-in-card"]
	path = www/vertical-stack-in-card
	url = https://github.com/custom-cards/vertical-stack-in-card.git
[submodule "www/lovelace-time-picker-card"]
	path = www/lovelace-time-picker-card
	url = https://github.com/GeorgeSG/lovelace-time-picker-card.git
